package page

import (
	"github.com/blackforge/embookshelf/internal/model"
	"github.com/blackforge/embookshelf/internal/view/component"
	"github.com/blackforge/embookshelf/internal/view/layout"
	"github.com/blackforge/embookshelf/internal/view/partial"
)

templ BookDetail(libraries []model.Library, shelves []model.Shelf, book model.Book, shelfSlugs []string, diskMode string) {
	@layout.App(book.Title) {
		<div class="app-shell">
			@component.Sidebar(libraries, shelves, "", "", component.NavLibrary)
			<main class="main">
				@component.TopBar(book.Title, book.Author)
				<div class="p-8 grow">
					<div class="mb-4 t-small">
						<a href="/app/library" class="link">← Library</a>
					</div>
					@partial.BookDetailPanel(book, shelfSlugs, shelves)
				</div>
				@component.StatusBar(len(libraries), 1, diskMode)
			</main>
		</div>
	}
}
